.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}
.btn {
  padding: 10px 30px;
  margin-bottom: 20px;
}

p {
  font-size: 2rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 7rem;
  }
}
@media (min-width: 600px) and (max-width: 770px) {
  h1 {
    font-size: 5rem;
  }
  img {
    width: 50%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  img {
    width: 40%;
  }
  .dice p {
    font-size: 2rem;
  }
}
